#home-title, .title{
    background-color:#500073;
    color: white;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    font-size: 20px;
    margin-left: 1%;
}

.description {
    font-style: italic;
}

.title {
    background-color: #d74b06b2;
    text-align: center;
}

img {
    display: block;
    margin: auto;
}